<IfModule mod_rewrite.c>
RewriteEngine On

# Remove the public part from the URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

</IfModule>